
@media screen and (max-width: 600px) {

    .popular-tour{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
     }

    
    .travel-promotion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .newsletter {
       width: 90%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       /* gap: 25px; */
       border-radius: 16px;
       border: 1px solid #FF5400;
       padding-top: 20px;
       padding-bottom: 25px;    
    } 

    .discount {
        width: 95%;
        margin-top: 20px;   
     }

     .bd-mountains {
        width: 90%;
        /* border: 3px solid red;  */
        margin: 5px;
        display: flex;
        flex-direction: column;

     }

     .bangladesh-mountains{
        display: block;
     }

     .place-to-get-lost{
        gap: 10px;
     }

     .banner-elements h2{
        margin-top: 20px;
        color: #FFF;
        font-family: Mulish;
        font-size: 34px;
        font-style: normal;
        font-weight: 800;
     }

     .search {
        display: flex;
        flex-direction: column;
        gap: 10px;
     }



}